flows (1).json
[
    {
        "id": "3a7cf1a9de9084b7",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7b8f5026449f5d39",
        "type": "mqtt in",
        "z": "3a7cf1a9de9084b7",
        "name": "",
        "topic": "sensor/monitoramento_enchente",
        "qos": "0",
        "datatype": "json",
        "broker": "1df5f2617583b3f1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "8b545ede911b119a"
            ]
        ]
    },
    {
        "id": "8b545ede911b119a",
        "type": "function",
        "z": "3a7cf1a9de9084b7",
        "name": "Extrair dados",
        "func": "// O payload de entrada já é um objeto JSON graças à configuração do nó mqtt in\nvar nivel_agua = msg.payload.nivel_agua;\nvar umidade_solo = msg.payload.umidade_solo;\nvar volume_chuva = msg.payload.volume_chuva;\nvar status_alerta = msg.payload.status_alerta;\n\n// ----- SAÍDAS SEPARADAS PARA CADA WIDGET -----\n\n// Mensagem para Nível da Água (Gauge e Chart)\nvar msg_nivel_agua = { payload: nivel_agua, topic: \"nivel_agua\" };\nnode.send([msg_nivel_agua, null, null, null, null]); // Envia para a primeira saída (Nível Água)\n\n// Mensagem para Umidade do Solo\nvar msg_umidade_solo = { payload: umidade_solo, topic: \"umidade_solo\" };\nnode.send([null, msg_umidade_solo, null, null, null]); // Envia para a segunda saída\n\n// Mensagem para Volume de Chuva\nvar msg_volume_chuva = { payload: volume_chuva, topic: \"volume_chuva\" };\nnode.send([null, null, msg_volume_chuva, null, null]); // Envia para a terceira saída\n\n// Mensagem para Status do Alerta\nvar msg_status_alerta = { payload: status_alerta, topic: \"status_alerta\" };\nnode.send([null, null, null, msg_status_alerta, null]); // Envia para a quarta saída\n\nreturn null; // Não retorna a mensagem original do fluxo principal\n\n",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "a2c8ac7bdf4bf917",
                "bd4cfbb0ce81cecb"
            ],
            [
                "ccdfae512d6d4881"
            ],
            [
                "4f42919f8f10d06e"
            ],
            [
                "bac5d6a99b99cb33"
            ],
            []
        ]
    },
    {
        "id": "a2c8ac7bdf4bf917",
        "type": "ui_gauge",
        "z": "3a7cf1a9de9084b7",
        "name": "",
        "group": "6e19a673fde284cf",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nível da Água (cm)",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "150",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "ccdfae512d6d4881",
        "type": "ui_gauge",
        "z": "3a7cf1a9de9084b7",
        "name": "",
        "group": "887f29500ce55076",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade do Solo",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "4f42919f8f10d06e",
        "type": "ui_gauge",
        "z": "3a7cf1a9de9084b7",
        "name": "",
        "group": "6e19a673fde284cf",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Volume de Chuva",
        "label": "ADC",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "bac5d6a99b99cb33",
        "type": "ui_text",
        "z": "3a7cf1a9de9084b7",
        "group": "887f29500ce55076",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status do Alerta:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "bd4cfbb0ce81cecb",
        "type": "ui_chart",
        "z": "3a7cf1a9de9084b7",
        "name": "",
        "group": "887f29500ce55076",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Histórico Nível da Água",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "94f950960c53bdb0",
        "type": "ui_spacer",
        "z": "3a7cf1a9de9084b7",
        "name": "spacer",
        "group": "6e19a673fde284cf",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "1df5f2617583b3f1",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker ",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6e19a673fde284cf",
        "type": "ui_group",
        "name": "",
        "tab": "d7c2b7f30fd1e023",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "887f29500ce55076",
        "type": "ui_group",
        "name": "",
        "tab": "d7c2b7f30fd1e023",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7c2b7f30fd1e023",
        "type": "ui_tab",
        "name": "Monitoramento de Enchentes",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]